*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vm;
    position: relative;
}
.container{
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    height: 90vh;
    width: 90vw;
    /* background-color: aqua; */
}
.container .panel{
    position: relative;
    flex:1;
    margin: 10px;
    border-radius:45px ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 600ms ease-in;
    cursor: pointer;
}
.container .active{
    flex:50%;
}
.container .panel h3{
    opacity: 0;
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 15px;
    transition: opacity 0.3s ease-in 0.2s;
}
.container .active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}